<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_Customization
 * @copyright   Copyright © Scandiweb, Inc. All rights reserved.
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_Customization">
        <sequence>
            <module name="ScandiPWA_Locale" />
            <module name="Scandiweb_Core" />
            <module name="Magento_Backend" />
            <module name="Magento_Catalog" />
            <module name="Magento_Cms" />
            <module name="Magento_Config" />
            <module name="Magento_Eav" />
            <module name="Magento_MediaStorage" />
            <module name="Magento_Store" />
            <module name="Magento_Theme" />
            <module name="Magento_Ui" />
        </sequence>
    </module>
</config>
